body {
    background-color: #f8eaf2;
    color: #5c5060;
    font-family: Arial;
    text-align: center;
    padding: 30px;
}

h1 {
    color: #a46f92;
    font-size: 45px;
}

p {
    color: #957f91;
}

#journal {
    background-color: #fffdf8;
    width: 500px;
    max-width: 85%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px #d8c6d2;
}

input {
    width: 80%;
    padding: 10px;
    border: 1px solid #d5b9cb;
    border-radius: 8px;
}

textarea {
    width: 80%;
    height: 220px;
    padding: 15px;
    border: 1px solid #d5b9cb;
    border-radius: 8px;
    resize: none;
    font-family: Arial;
}

button {
    background-color: #c99bbb;
    color: white;
    border: none;
    padding: 12px 25px;
    margin: 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #af7f9f;
}

.page {
    background-color: #fffdf8;
    width: 450px;
    max-width: 80%;
    margin: 15px auto;
    padding: 20px;
    border-radius: 12px;
    text-align: left;
}

.page h3 {
    color: #a46f92;
}

.page {
    background-color: #fffdf8;
    width: 450px;
    max-width: 80%;
    margin: 15px auto;
    padding: 20px;
    border-radius: 12px;
    text-align: left;
}

.page h3 {
    color: #a46f92;
}

.page p {
    color: #5c5060;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}